<h1>Импорт таблицы Excel в базу данных</h1>

<div class="row mt-5 mb-2">

    <div class="col-lg-6">
        <p>1. Правой кнопкой мыши на базе данных "Задачи -> Импорт данных..."</p>
        <img class="img-thumbnail" src="/img/1.png" alt="Задачи -> Импорт данных..." />
    </div>

    <div class="col-lg-6">
        <p>2. Источник данных: "Microsoft Excel"</p>
        <p>3. Указываем путь к Excel файлу</p>
        <p>4. Ставим галочку "Первая строка содержит имена столбцов"</p>
        <img class="img-thumbnail" src="/img/2.png" alt="Источник данных" />
    </div>

    <div class="col-lg-6">
        <p>5. Назначение "SQL Server Native Client 11.0"</p>
        <p>6. Выбираем базу данных и проверку подлинности</p>
        <img class="img-thumbnail" src="/img/3.png" alt="Выбираем базу данных и проверку подлинности" />
    </div>

    <div class="col-lg-6">
        <p>7. Выбираем "Скопировать данные из одной или нескольких таблиц или представлений"</p>
        <img class="img-thumbnail" src="/img/4.png" alt="Скопировать данные из одной или нескольких таблиц" />
    </div>

    <div class="col-lg-6">
        <p>8. Выбираем Лист и нажимаем кнопку "Изменить"</p>
        <img class="img-thumbnail" src="/img/5.png" alt="Выбираем Лист Excel" />
    </div>

    <div class="col-lg-6">
        <p>9. Устанавливаем типы данных</p>
        <img class="img-thumbnail" src="/img/6.png" alt="Типы данных" />
    </div>

    <div class="col-lg-6">
        <p>10. Переименовываем таблицу</p>
        <img class="img-thumbnail" src="/img/7.png" alt="Переименовать таблицу" />
    </div>
</div>

