<h1>Импорт данных</h1>

<div class="row mt-5 mb-2">    
    <div class="col-lg-6">
        <p class="outside"><a class="btn btn-warning" href="/ImportPerson/Import">Выполнить импорт</a></p>    
    </div>    
</div>
